<div>
    <div class="col-6">


        <h3>Проверка сертификата</h3>
        <form (ngSubmit)="onSubmit()" #certForm="ngForm">
                        <div class="form-group">
                            <label for="inputCert">Сертификат для проверки</label>
                            <textarea [rows]="1 + ((inputCert?.split('\n')?.length < 11) ? inputCert?.split('\n')?.length : 10)" type="text" class="form-control" id="inputCert"
                                   required
                                   [(ngModel)]="inputCert" name="inputCert"
                                   #name="ngModel">
                            </textarea>
                        </div>
            <button type="submit" class="btn btn-success" [disabled]="!certForm.form.valid">Проверить</button>
            <button type="button" class="btn btn-default" (click)="certForm.reset()">Сброс</button>
        </form>
    </div>

    <div class="mb-4"></div>

    <div *ngIf="output">
        <div>---------------</div>
        <div>{{output}}</div>
        <div>---------------</div>
    </div>

</div>
