<div class="bg-secondary">
  <div class="p-5">
    <h1>Mini Ca</h1>
    <nav class="py-4">
      <a class="m-2 bg-warning" routerLink="/about" routerLinkActive="active">About</a>
      <a class="m-2 bg-warning" routerLink="/generate-certificate" routerLinkActive="active">Generate certificate</a>
      <a class="m-2 bg-warning" routerLink="/generate-key-pair" routerLinkActive="active">Generate key pair</a>
      <a class="m-2 bg-warning" routerLink="/validate-certificate" routerLinkActive="active">Validate certificate</a>
    </nav>
    <div class="py-4 bg-white container-fluid">
      <router-outlet></router-outlet>
    </div>
    <h3 class="py-5">bottom</h3>
  </div>
</div>
