<div class="container-fluid form-group">


    <div class="row">
        <div class="col-6">
            <h1>Генерация сертификата</h1>
            <form #certForm="ngForm" (ngSubmit)="onSubmit()">
                <button [disabled]="!certForm.form.valid" class="btn btn-success" type="submit">Генерация</button>
                <button (click)="certForm.reset()" class="btn btn-default" type="button">Сброс</button>
            </form>
        </div>
    </div>
    <div class="row mb-4"></div>


    <div *ngIf="output" class="row">
        <div class="col-12">
            <textarea class="form-control" [rows]="output.certificate.split('\n').length">{{output.certificate}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea class="form-control" [rows]="output.privateKey.split('\n').length">{{output.privateKey}}</textarea>
        </div>
    </div>
</div>


